{
	"extends": "stylelint-config-ckeditor5",
	"plugins": [
		"stylelint-plugin-ckeditor5-rules"
	],
	"ignoreFiles": [
		"**/dist/**",
		"coverage/**",
		"external/**",
		"release/**"
	],
	"rules": {
		"linebreak-style": 0
	}
}
